/* dosis-200 - latin */
@font-face {
    font-display: swap;
    font-family: 'Dosis';
    font-style: normal;
    font-weight: 200;
    src: url('../fonts/dosis-v32-latin-200.woff2') format('woff2');
  }
  /* dosis-300 - latin */
  @font-face {
    font-display: swap;
    font-family: 'Dosis';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/dosis-v32-latin-300.woff2') format('woff2');
  }
  /* dosis-regular - latin */
  @font-face {
    font-display: swap; 
    font-family: 'Dosis';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/dosis-v32-latin-regular.woff2') format('woff2');
  }
  /* dosis-500 - latin */
  @font-face {
    font-display: swap;
    font-family: 'Dosis';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/dosis-v32-latin-500.woff2') format('woff2');
  }
  /* dosis-600 - latin */
  @font-face {
    font-display: swap;
    font-family: 'Dosis';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/dosis-v32-latin-600.woff2') format('woff2');
  }
  /* dosis-700 - latin */
  @font-face {
    font-display: swap;
    font-family: 'Dosis';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/dosis-v32-latin-700.woff2') format('woff2');
  }
  /* dosis-800 - latin */
  @font-face {
    font-display: swap;
    font-family: 'Dosis';
    font-style: normal;
    font-weight: 800;
    src: url('../fonts/dosis-v32-latin-800.woff2') format('woff2');
  }





  /* signika-300 - latin */
@font-face {
    font-display: swap;
    font-family: 'Signika';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/signika-v25-latin-300.woff2') format('woff2');
  }
  /* signika-regular - latin */
  @font-face {
    font-display: swap;
    font-family: 'Signika';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/signika-v25-latin-regular.woff2') format('woff2');
  }
  /* signika-500 - latin */
  @font-face {
    font-display: swap;
    font-family: 'Signika';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/signika-v25-latin-500.woff2') format('woff2');
  }
  /* signika-600 - latin */
  @font-face {
    font-display: swap;
    font-family: 'Signika';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/signika-v25-latin-600.woff2') format('woff2');
  }
  /* signika-700 - latin */
  @font-face {
    font-display: swap;
    font-family: 'Signika';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/signika-v25-latin-700.woff2') format('woff2');
  }